<html>

<head>
    <link rel="stylesheet" type="text/css" href="bower_components/Materialize/dist/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="javascripts/socket.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class="row hackathon">
                Hackathon
            </h1>
            <h3 class="row litoral">
                LITORAL
            </h3>
        </div>
        <div class="row">
            <span class="icon-bulb"></span>
        </div>
        <!-- Page Content goes here -->
    </div>
</body>

</html>